*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	background-image: url("../images/back2.jpg");
	background-size: cover;
}

header{
	padding: 0 150px 0 130px;
}

header a{
	text-decoration:none; 
	font-weight: bold;
	color: darkgreen;
	font-size: 20px;
}

header p{
	display: inline; 
}

header img{
	width: 200px;
	height: 90px;
	display: inline;
	vertical-align: middle;
	margin-left: -60px;
}


.logo{
	margin-left: 70px;
}


.phone{
	display: inline;
	transition-duration: 1s;
}

.phone a{
	margin-left: 30px;
}


.phone a:hover{
	color: black;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.cnx{
	float: right;
	margin-left: 15px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Extra styles for the cancel button */
.cancelbtn2 {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn2, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

h1{
	margin-bottom: 10px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close2 {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close2:hover,
.close2:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}


/*  main content */





.what{
	color: darkgreen;
	font-size: 50px;
	font-weight: bold;
	margin-left: 150px;
	margin-top: 150px;
}


.gris{
	color: gray;
	font-size: 40px;
}

img.bus{
	float: right;
	width: 900px;
	margin-top: -250px;
  margin-right: -150px;
}


.recherche{
	background-color: white;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	width: 90%;
	height: 130px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding: 30px 20px 30px 20px;
}


.dropdown{
	float: left;
	margin-left: 20px;
	margin-top: 15px;
	background-color: lightgray;
	width: 17%;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	border-width: 2px;
	font-weight: bold;
	font-size: 15px;
}


.search{
	width: 20%;
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 0 20px;
}


.cap{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 50px;
  	margin-bottom: 50px;
  	width: 80%;
  	border-radius: 50px;
}


footer{
	text-align: center;
}

footer p{
	font-size: 25px;
	margin-top: 30px;
  font-weight: bold;
}

footer img{
	width: 250px;
	height: 100px;
	margin-left: 20px;
	margin-top: 30px;
}